# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Profiling
.prof

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS / Linux
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.sqlite3
*.db
*.db-wal
*.db-shm

# PDFs (optional if you don't want to commit exports)
*.pdf
